<div class="column-layout group">
  <igx-card class="card">
    <igx-card-media height="120px" class="media-content">
      <img src="/assets/SketchParser.png" class="image" />
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle>
        Title goes here...
      </h3>
      <h5 igxCardHeaderSubtitle>
        Subtitle goes here...
      </h5>
    </igx-card-header>
    <igx-card-content class="body-content">
      <p class="ig-typography__body-2 text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor labore et dolore magna aliqua. 
      </p>
    </igx-card-content>
    <igx-card-actions class="actions-content">
      <ng-container igxStart>
        <button igxButton="flat" igxRipple class="button">
          Button
        </button>
      </ng-container>
      <ng-container igxEnd>
        <button igxRipple igxIconButton="flat">
          <igx-icon>
            favorite
          </igx-icon>
        </button>
        <button igxRipple igxIconButton="flat">
          <igx-icon>
            bookmark
          </igx-icon>
        </button>
        <button igxRipple igxIconButton="flat">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
  <igx-card class="card">
    <igx-card-header>
      <div igxCardThumbnail>
        <igx-avatar shape="circle">
          <igx-icon>
            person
          </igx-icon>
        </igx-avatar>
      </div>
      <h3 igxCardHeaderTitle>
        Title goes here...
      </h3>
      <h5 igxCardHeaderSubtitle>
        Subtitle goes here...
      </h5>
    </igx-card-header>
    <igx-card-media height="120px" class="media-content">
      <img src="/assets/SketchParser.png" class="image" />
    </igx-card-media>
    <igx-card-content class="body-content">
      <p class="ig-typography__body-2 text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor labore et dolore magna aliqua. 
      </p>
    </igx-card-content>
    <igx-card-actions class="actions-content">
      <ng-container igxStart>
        <button igxButton="flat" igxRipple class="button">
          Button
        </button>
      </ng-container>
      <ng-container igxEnd>
        <button igxRipple igxIconButton="flat">
          <igx-icon>
            favorite
          </igx-icon>
        </button>
        <button igxRipple igxIconButton="flat">
          <igx-icon>
            bookmark
          </igx-icon>
        </button>
        <button igxRipple igxIconButton="flat">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
  <igx-card [horizontal]="true" class="card">
    <div class="group_1">
      <igx-card-header>
        <div igxCardThumbnail>
          <igx-avatar shape="circle">
            <igx-icon>
              person
            </igx-icon>
          </igx-avatar>
        </div>
        <h3 igxCardHeaderTitle>
          Title goes here...
        </h3>
        <h5 igxCardHeaderSubtitle>
          Subtitle goes here...
        </h5>
      </igx-card-header>
      <igx-card-content class="body-content">
        <p class="ig-typography__body-2 text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor labore et dolore magna aliqua. 
        </p>
      </igx-card-content>
    </div>
    <igx-card-media width="120px" class="media-content_1">
      <img src="/assets/SketchParser.png" class="image" />
    </igx-card-media>
  </igx-card>
  <igx-card [horizontal]="true" class="card">
    <div class="group_2">
      <div class="row-layout">
        <igx-card-header>
          <div igxCardThumbnail>
            <igx-card-media width="80px" height="80px" class="media-content_2">
              <img src="/assets/SketchParser.png" />
            </igx-card-media>
          </div>
          <h3 igxCardHeaderTitle>
            Title goes here...
          </h3>
          <h5 igxCardHeaderSubtitle>
            Subtitle goes here...
          </h5>
        </igx-card-header>
      </div>
      <igx-card-content class="body-content">
        <p class="ig-typography__body-2 text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod labore et dolore magna aliqua. 
        </p>
      </igx-card-content>
    </div>
    <igx-divider [vertical]="true"></igx-divider>
    <igx-card-actions [vertical]="true" class="igx-card-actions--justify actions-content_1">
      <ng-container igxEnd>
        <button igxRipple igxIconButton="flat">
          <igx-icon>
            favorite
          </igx-icon>
        </button>
        <button igxRipple igxIconButton="flat">
          <igx-icon>
            bookmark
          </igx-icon>
        </button>
        <button igxRipple igxIconButton="flat">
          <igx-icon>
            share
          </igx-icon>
        </button>
      </ng-container>
    </igx-card-actions>
  </igx-card>
</div>
