<div class="column-layout group">
  <p class="ig-typography__subtitle-2 text">
    Chart With Default Palette
  </p>
  <igx-category-chart [dataSource]="dashboardDataTeamGrowth" chartType="area" computedPlotAreaMarginMode="series" class="category-chart"></igx-category-chart>
  <p class="ig-typography__subtitle-2 text">
    Chart With Custom Palette
  </p>
  <igx-category-chart [dataSource]="dashboardDataTeamGrowth" chartType="area" computedPlotAreaMarginMode="series" class="category-chart_1"></igx-category-chart>
</div>
