<div class="row-layout group">
  <igx-radio-group [(ngModel)]="value" class="radio-group">
    <igx-radio value="1" class="radio">
      Label
    </igx-radio>
    <igx-radio value="2" class="radio">
      Label
    </igx-radio>
    <igx-radio value="3" class="radio">
      Label
    </igx-radio>
  </igx-radio-group>
  <igx-radio-group [(ngModel)]="value" class="radio-group">
    <igx-radio value="1" class="radio">
      Label
    </igx-radio>
    <igx-radio value="2" class="radio">
      Label
    </igx-radio>
    <igx-radio value="3" class="radio">
      Label
    </igx-radio>
  </igx-radio-group>
  <igx-radio-group alignment="vertical" [(ngModel)]="value" class="radio-group">
    <igx-radio value="1" class="radio">
      Label
    </igx-radio>
    <igx-radio value="2" class="radio">
      Label
    </igx-radio>
    <igx-radio value="3" class="radio">
      Label
    </igx-radio>
  </igx-radio-group>
  <igx-radio-group alignment="vertical" [(ngModel)]="value" class="radio-group">
    <igx-radio value="1" class="radio">
      Label
    </igx-radio>
    <igx-radio value="2" class="radio">
      Label
    </igx-radio>
    <igx-radio value="3" class="radio">
      Label
    </igx-radio>
  </igx-radio-group>
</div>
