<div class="column-layout group">
  <div class="column-layout group_1">
    <button igxButton="contained" igxRipple class="button">
      Button
    </button>
    <button igxButton="contained" igxRipple class="button">
      <igx-icon>
        add
      </igx-icon>
      <span>Button</span>
    </button>
    <button igxButton="outlined" igxRipple class="button">
      Button
    </button>
    <button igxButton="outlined" igxRipple class="button">
      <igx-icon>
        add
      </igx-icon>
      <span>Button</span>
    </button>
    <button igxButton="flat" igxRipple class="button">
      Button
    </button>
    <button igxButton="flat" igxRipple class="button">
      <igx-icon>
        add
      </igx-icon>
      <span>Button</span>
    </button>
    <button igxButton="fab" igxRipple class="button_1">
      <igx-icon>
        add
      </igx-icon>
    </button>
    <button igxButton="fab" igxRipple class="button_1">
      <igx-icon>
        add
      </igx-icon>
      <span>FAB</span>
    </button>
    <button igxRipple igxIconButton="flat" class="icon-button">
      <igx-icon>
        email
      </igx-icon>
    </button>
  </div>
  <igx-list class="list">
    <igx-list-item [isHeader]="true">Header</igx-list-item>
    <igx-list-item>
      <span igxListLineTitle>Single Line Item Default</span>
      <span igxListAction>
        <igx-icon class="icon">
          keyboard_arrow_right
        </igx-icon>
      </span>
    </igx-list-item>
    <igx-list-item>
      <span igxListLineTitle>Single Line Item Default</span>
    </igx-list-item>
    <igx-list-item>
      <span igxListLineTitle>Single Line Item Default</span>
      <span igxListAction>
        <igx-icon class="icon">
          keyboard_arrow_right
        </igx-icon>
      </span>
    </igx-list-item>
  </igx-list>
</div>
