:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  padding: 24px;
  width: 320px;
  min-width: 320px;
  max-width: 320px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.button {
  height: max-content;
}
.button_1 {
  width: max-content;
  height: max-content;
  align-self: center;
}
.button_2 {
  --igx-button-background: hsla(var(--ig-success-500));
  height: max-content;
}
.button_3 {
  --igx-button-foreground: hsla(var(--ig-success-500));
  --border-color: hsla(var(--ig-success-500));
  height: max-content;
}
.button_4 {
  --igx-button-foreground: hsla(var(--ig-success-500));
  height: max-content;
}
.button_5 {
  --igx-button-background: hsla(var(--ig-success-500));
  width: max-content;
  height: max-content;
  align-self: center;
}
.icon-button {
  align-self: center;
}
.icon-button_1 {
  --igx-button-foreground: hsla(var(--ig-success-500));
  align-self: center;
}
.icon {
  --size: 24px;
  font-size: 24px;
  width: 24px;
  height: 24px;
}
.icon_1 {
  color: hsla(var(--ig-success-500));
}
.list {
  height: max-content;
}
