<div class="row-layout group">
  <div class="column-layout group_1">
    <igx-list class="list">
      <igx-list-item [isHeader]="true">Header</igx-list-item>
      <igx-list-item>
        <span igxListLineTitle>Single Line Item Default</span>
        <span igxListAction>
          <igx-icon class="icon">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item>
        <span igxListLineTitle>Single Line Item Default</span>
      </igx-list-item>
      <igx-list-item>
        <span igxListLineTitle>Single Line Item Default</span>
        <span igxListAction>
          <igx-icon class="icon">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
    </igx-list>
    <igx-list class="list">
      <igx-list-item [isHeader]="true">Header</igx-list-item>
      <igx-list-item>
        <span igxListLineSubTitle>Subtitle...</span>
        <span igxListAction>
          <igx-icon class="icon">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item>
        <span igxListLineSubTitle>Subtitle...</span>
        <span igxListAction>
          <igx-icon class="icon">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item>
        <span igxListLineSubTitle>Subtitle...</span>
        <span igxListAction>
          <igx-icon class="icon">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
    </igx-list>
    <igx-list class="list">
      <igx-list-item [isHeader]="true">Header</igx-list-item>
      <igx-list-item>
        <span igxListThumbnail>
          <igx-avatar>
            <igx-icon>
              person
            </igx-icon>
          </igx-avatar>
        </span>
        <span igxListLineTitle>Single Line Item Default</span>
        <span igxListAction>
          <igx-icon class="icon">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item>
        <span igxListThumbnail>
          <igx-avatar>
            <igx-icon>
              person
            </igx-icon>
          </igx-avatar>
        </span>
        <span igxListLineTitle>Single Line Item Default</span>
        <span igxListAction>
          <igx-icon class="icon">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item>
        <span igxListThumbnail>
          <igx-avatar>
            <igx-icon>
              person
            </igx-icon>
          </igx-avatar>
        </span>
        <span igxListLineTitle>Single Line Item Default</span>
        <span igxListAction>
          <igx-icon class="icon">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
    </igx-list>
    <igx-list class="list">
      <igx-list-item [isHeader]="true">Header</igx-list-item>
      <igx-list-item>
        <span igxListThumbnail>
          <igx-avatar initials="AB" shape="rounded"></igx-avatar>
        </span>
        <span igxListLineTitle>Single Line Item Default</span>
        <span igxListAction>
          <igx-icon class="icon">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item>
        <span igxListThumbnail>
          <igx-avatar initials="AB" shape="rounded"></igx-avatar>
        </span>
        <span igxListLineTitle>Single Line Item Default</span>
        <span igxListAction>
          <igx-icon class="icon">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item>
        <span igxListThumbnail>
          <igx-avatar initials="AB" shape="rounded"></igx-avatar>
        </span>
        <span igxListLineTitle>Single Line Item Default</span>
        <span igxListAction>
          <igx-icon class="icon">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
    </igx-list>
  </div>
  <div class="column-layout group_1">
    <igx-list class="list">
      <igx-list-item [isHeader]="true">Header</igx-list-item>
      <igx-list-item>
        <span igxListLineTitle>Image URL</span>
        <span igxListLineSubTitle>Subtitle...</span>
      </igx-list-item>
      <igx-list-item>
        <span igxListLineTitle>Image URL</span>
        <span igxListLineSubTitle>Subtitle...</span>
      </igx-list-item>
      <igx-list-item>
        <span igxListLineTitle>Image URL</span>
        <span igxListLineSubTitle>Subtitle...</span>
      </igx-list-item>
    </igx-list>
    <igx-list class="list">
      <igx-list-item [isHeader]="true">Header</igx-list-item>
      <igx-list-item>
        <span igxListThumbnail>
          <igx-avatar src="https://images.unsplash.com/photo-1638643391904-9b551ba91eaa?q=80&w=2592&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" shape="circle" class="avatar"></igx-avatar>
        </span>
        <span igxListLineTitle>Image URL</span>
        <span igxListLineSubTitle>Subtitle...</span>
        <span igxListAction>
          <igx-icon class="icon">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item>
        <span igxListThumbnail>
          <igx-avatar src="https://images.unsplash.com/photo-1638643391904-9b551ba91eaa?q=80&w=2592&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" shape="circle" class="avatar"></igx-avatar>
        </span>
        <span igxListLineTitle>Image URL</span>
        <span igxListLineSubTitle>Subtitle...</span>
        <span igxListAction>
          <igx-icon class="icon">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item>
        <span igxListThumbnail>
          <igx-avatar src="https://images.unsplash.com/photo-1638643391904-9b551ba91eaa?q=80&w=2592&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" shape="circle" class="avatar"></igx-avatar>
        </span>
        <span igxListLineTitle>Image URL</span>
        <span igxListLineSubTitle>Subtitle...</span>
        <span igxListAction>
          <igx-icon class="icon">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
    </igx-list>
    <igx-list class="list">
      <igx-list-item [isHeader]="true">Header</igx-list-item>
      <igx-list-item>
        <span igxListThumbnail>
          <igx-avatar src="/assets/7e86e8b8b495deb8eefcdd3556151a40532211e1.png" shape="circle" class="avatar"></igx-avatar>
        </span>
        <span igxListLineTitle>Default with Subtitle and Avatar</span>
        <span igxListLineSubTitle>Subtitle...</span>
        <span igxListAction>
          <igx-icon class="icon">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item>
        <span igxListThumbnail>
          <igx-avatar src="/assets/d4c387693b4db8c8354a14897762a46dcf820844.png" shape="circle" class="avatar"></igx-avatar>
        </span>
        <span igxListLineTitle>Default with Subtitle and Avatar</span>
        <span igxListLineSubTitle>Subtitle...</span>
        <span igxListAction>
          <igx-icon class="icon">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
      <igx-list-item>
        <span igxListThumbnail>
          <igx-avatar src="/assets/a7f211be67afc061d9571f5b5b5236cd92420e0c.png" shape="circle" class="avatar"></igx-avatar>
        </span>
        <span igxListLineTitle>Default with Subtitle and Avatar</span>
        <span igxListLineSubTitle>Subtitle...</span>
        <span igxListAction>
          <igx-icon class="icon">
            keyboard_arrow_right
          </igx-icon>
        </span>
      </igx-list-item>
    </igx-list>
  </div>
</div>
